{% extends 'slider.html' %}
{% block movielist %}
<div class="movie-items">
  <div class="container">
    <div class="row ipad-width">
      <div class="col-md-8">
        <div class="title-hd">
          <h2>in theater</h2>
          <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
        </div>
        <div class="tabs">
          <ul class="tab-links">
            <li class="active"><a href="#tab1">#Popular</a></li>
            <li><a href="#tab2"> #Coming soon</a></li>
            <li><a href="#tab3"> #Top rated</a></li>
            <li><a href="#tab4"> #Most reviewed</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab1" class="tab active">
              <div class="row">
                <div class="slick-multiItem">
                  <!--  DB  -->
                  {% for i in movieTheater_popular %}
                  <div class="slide-it">
                    <div class="movie-item">
                      <div class="mv-img">
                        <img src="{{ i.img_src }}" alt="" width="{{ i.img_width }}" height="{{ i.img_height }}">
                      </div>
                      <div class="hvr-inner">
                        <a href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                      </div>
                      <div class="title-in">
                        <h6><a href="{{ i.anchor_url }}">{{ i.movie_title }}</a></h6>
                        <p><i class="ion-android-star"></i><span>{{ i.lower_rating }}</span> /{{ i.upper_rating }}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="tab2" class="tab">
              <div class="row">
                <div class="slick-multiItem">
                  <!--  DB  -->
                  {% for i in movieTheater_coming_soon %}
                  <div class="slide-it">
                    <div class="movie-item">
                      <div class="mv-img">
                        <img src="{{ i.img_src }}" alt="" width="{{ i.img_width }}" height="{{ i.img_height }}">
                      </div>
                      <div class="hvr-inner">
                        <a href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                      </div>
                      <div class="title-in">
                        <h6><a href="{{ i.anchor_url }}">{{ i.movie_title }}</a></h6>
                        <p><i class="ion-android-star"></i><span>{{ i.lower_rating }}</span> /{{ i.upper_rating }}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="tab3" class="tab">
              <div class="row">
                <div class="slick-multiItem">
                  <!--  DB  -->
                  {% for i in movieTheater_top_rated %}
                  <div class="slide-it">
                    <div class="movie-item">
                      <div class="mv-img">
                        <img src="{{ i.img_src }}" alt="" width="{{ i.img_width }}" height="{{ i.img_height }}">
                      </div>
                      <div class="hvr-inner">
                        <a href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                      </div>
                      <div class="title-in">
                        <h6><a href="{{ i.anchor_url }}">{{ i.movie_title }}</a></h6>
                        <p><i class="ion-android-star"></i><span>{{ i.lower_rating }}</span> /{{ i.upper_rating }}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="tab4" class="tab">
              <div class="row">
                <div class="slick-multiItem">
                  <!--  DB  -->
                  {% for i in movieTheater_most_reviewed %}
                  <div class="slide-it">
                    <div class="movie-item">
                      <div class="mv-img">
                        <img src="{{ i.img_src }}" alt="" width="{{ i.img_width }}" height="{{ i.img_height }}">
                      </div>
                      <div class="hvr-inner">
                        <a href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                      </div>
                      <div class="title-in">
                        <h6><a href="{{ i.anchor_url }}">{{ i.movie_title }}</a></h6>
                        <p><i class="ion-android-star"></i><span>{{ i.lower_rating }}</span> /{{ i.upper_rating }}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="title-hd">
          <h2>on tv</h2>
          <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
        </div>
        <div class="tabs">
          <ul class="tab-links-2">
            <li><a href="#tab21">#Popular</a></li>
            <li class="active"><a href="#tab22"> #Coming soon</a></li>
            <li><a href="#tab23"> #Top rated</a></li>
            <li><a href="#tab24"> #Most reviewed</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab21" class="tab">
              <div class="row">
                <div class="slick-multiItem">
                  <!--  DB  -->
                  {% for i in movieTv_popular %}
                  <div class="slide-it">
                    <div class="movie-item">
                      <div class="mv-img">
                        <img src="{{ i.img_src }}" alt="" width="{{ i.img_width }}" height="{{ i.img_height }}">
                      </div>
                      <div class="hvr-inner">
                        <a href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                      </div>
                      <div class="title-in">
                        <h6><a href="{{ i.anchor_url }}">{{ i.movie_title }}</a></h6>
                        <p><i class="ion-android-star"></i><span>{{ i.lower_rating }}</span> /{{ i.upper_rating }}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="tab22" class="tab active">
              <div class="row">
                <div class="slick-multiItem">
                  <!--  DB  -->
                  {% for i in movieTv_coming_soon %}
                  <div class="slide-it">
                    <div class="movie-item">
                      <div class="mv-img">
                        <img src="{{ i.img_src }}" alt="" width="{{ i.img_width }}" height="{{ i.img_height }}">
                      </div>
                      <div class="hvr-inner">
                        <a href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                      </div>
                      <div class="title-in">
                        <h6><a href="{{ i.anchor_url }}">{{ i.movie_title }}</a></h6>
                        <p><i class="ion-android-star"></i><span>{{ i.lower_rating }}</span> /{{ i.upper_rating }}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="tab23" class="tab">
              <div class="row">
                <div class="slick-multiItem">
                  <!--  DB  -->
                  {% for i in movieTv_top_rated %}
                  <div class="slide-it">
                    <div class="movie-item">
                      <div class="mv-img">
                        <img src="{{ i.img_src }}" alt="" width="{{ i.img_width }}" height="{{ i.img_height }}">
                      </div>
                      <div class="hvr-inner">
                        <a href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                      </div>
                      <div class="title-in">
                        <h6><a href="{{ i.anchor_url }}">{{ i.movie_title }}</a></h6>
                        <p><i class="ion-android-star"></i><span>{{ i.lower_rating }}</span> /{{ i.upper_rating }}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="tab24" class="tab">
              <div class="row">
                <div class="slick-multiItem">
                  <!--  DB  -->
                  {% for i in movieTv_most_reviewed %}
                  <div class="slide-it">
                    <div class="movie-item">
                      <div class="mv-img">
                        <img src="{{ i.img_src }}" alt="" width="{{ i.img_width }}" height="{{ i.img_height }}">
                      </div>
                      <div class="hvr-inner">
                        <a href="moviesingle.html"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                      </div>
                      <div class="title-in">
                        <h6><a href="{{ i.anchor_url }}">{{ i.movie_title }}</a></h6>
                        <p><i class="ion-android-star"></i><span>{{ i.lower_rating }}</span> /{{ i.upper_rating }}</p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="sidebar">
          <div class="ads">
            <!-- DB -->
            {% for i in advertisement_sidebar %}
            <img src="{{ i.img_src }}" alt="" width="{{ i.img_width }}" height="{{ i.img_height }}">
            {% endfor %}
          </div>
          <div class="celebrities">
            <h4 class="sb-title">Spotlight Celebrities</h4>
            <!-- DB -->
            {% for i in celebrity %}
            <div class="celeb-item">
              <a href="{{ i.anchor_url }}"><img src="{{ i.celebrity_url }}" alt="" width="{{ i.img_width }}"
                  height="{{ i.img_height }}"></a>
              <div class="celeb-author">
                <h6><a href="{{ i.anchor_url }}">{{ i.celebrity_name }}</a></h6>
                <span>{{ i.celebrity_type }}</span>
              </div>
            </div>
            {% endfor %}
            <a href="#" class="btn">See all celebrities<i class="ion-ios-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}